<div class="post-field">
  <label class="small" for="post_title">Title</label>
  <p class="lead" id="post_title">
    <%= post.escape("title") %>
  </p>
</div>

<div class="post-field">
  <label class="small" for="post_body">Post</label>
  <p class="lead" id="post_body">
    <%= post.escape("body") %>
  </p>
</div>