<div id="sidebar"></div>
<div id="content"></div>

<script type="text/javascript">
$(function () {
  var postsData = <%= Post.all.to_json.html_safe %>;
  var $sidebar = $("#sidebar");
  var $content = $("#content");

  window.MJ.initialize(
    $sidebar,
    $content,
    postsData
  );
});
</script>