<div class="container">
  <div class="row">
    <div class="span2">
      <div id="sidebar"></div>
    </div>
    <div class="span4">
      <div id="content"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function () {
  var postsData = <%= Post.all.to_json.html_safe %>;
  var $sidebar = $("#sidebar");
  var $content = $("#content");

  window.MJ.initialize(
    $sidebar,
    $content,
    postsData
  );
});
</script>