@import 'bootstrap';

.container {
  margin-top: 30px;
  margin-left: 30px;
}
.post-field {
  margin-bottom: 20px;
  background: #C5C2B3;
  opacity: .6;
  padding: 20px;
}

label {
  color: black;
  opacity: 1;
}

p.lead {
  color: black;
  opacity: 1;
}

textarea {
  color: black;
}

input#post_title {
  color: black;
}

//button.submit {
//  margin-right: 20x;
//}
//ul {
//  list-style: none;
//}